---
import '../assets/css/main.css';
---

<footer class="flex_between footer mt">
  <p>&copy; 2025 - Quite Fragments</p>
  <ul class="footer_icons">
    <li>
      <a href="https://x.com/quitefragments" target="_blank">
        <img src="/x.svg" width="24" height="24" alt="X / Twitter" />
      </a>
    </li>
    <li>
      <a href="https://instagram.com/quitefragments" target="_blank">
        <img src="/insta.svg" width="24" height="24" alt="Instagram" />
      </a>
    </li>
    <li>
      <a href="https://youtube.com/@quitefragments" target="_blank">
        <img src="/yt.svg" width="24" height="24" alt="YouTube" />
      </a>
    </li>
    </li>
    <li>
      <a href="/rss.xml" target="_blank">
        <img src="/rss.svg" width="24" height="24" alt="RSS" />
      </a>
    </li>
  </ul>
</footer>