---
import '../assets/css/main.css';
import { getPosts } from '../lib/db';
import { type PostListType } from '../types/post';
import { convertToDateFormat } from '../lib/date';

export async function getStaticProps() {
  const posts = await getPosts();
  return { props: { posts } };
}

const { posts } = Astro.props;
---

<main class="main_flex_item mt">
  { posts?.map((post: PostListType) => (
    <a href={`/writing/${post.slug}`} class="flex_between writing_list">
      <p>{post.title}</p>
      <span class="line main_flex_item"></span>
      <p class="number">{convertToDateFormat(post.created_date)}</p>
    </a>
  ))}
</main>