<div class="main_flex_item mt text-center">
  <p class="article_heading">SEARCH</p>
  <div class="search_box mt">
    <input placeholder="Working, Coming soon..." class="search_input" disabled />
    <button class="search_button" disabled>
      <svg style="pointer-events: none;" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="11" cy="11" r="7" stroke="currentColor" stroke-width="2"/>
        <line x1="16.6569" y1="16.6569" x2="21" y2="21" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
      </svg>
    </button>
  </div>
</div>